/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.shadow.boxes {
  width: 32%;
  margin-top: 1em;
  margin-right: 0.9em;
  display: inline-block;
}

.shadow.last {
  width: 32%;
  margin-top: 1em;
  display: inline-block;
}

.border_right.boxes {
  width: 32%;
  margin-right: 0.9em;
  display: inline-block;
}

.last {
  float: right;
  width: 32%;
  margin-top: 0em;
  display: inline-block;
}

.third {
	display: inline;
	width: 32%;
}

/* Positioning ID's */

#summer {
	float: left;
	width: 66%;
}

#archive {
	float: right;
	width: 32%;
  font-size: 16px;
  padding-bottom: 24px;
}

#featured {
  margin-top: 0.4em;
}
